@font-face {
    font-family: "netflix";
    src: url(./bebas-neue/BebasNeue.otf);
}
:root {
    --light-blue: rgb(32, 18, 95);
    --dark-blue: rgb(204, 100, 223);
    --violet: rgb(119, 188, 236);

    --background-left: rgb(29, 33, 68);
    --background-right: rgb(30, 25, 47);

    --conic-gradient: conic-gradient(var(--dark-blue),
            var(--violet),
            var(--light-blue),
            var(--dark-blue));

    --txt-red: #DB202C;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right,
            var(--background-left),
            var(--background-right));
    height: 100vh;
}

#background {
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 1;
    inset: 0px;
}

#circle {
    background: var(--conic-gradient);
    border-radius: 70vh;
    width: 70vh;
    height: 70vh;
    display: grid;
    place-items: center;
    position: relative;
    filter: blur(1.5vh);
    animation: rotate 10s linear infinite;
}

#circle-inner {
    border-radius: inherit;
    inset: 5%;
    position: absolute;
    background: linear-gradient(to right,
            var(--background-left),
            var(--background-right));
    z-index: 3;
}

#circle-glow {
    background: var(--conic-gradient);
    border-radius: 100vh;
    height: 120%;
    width: 120%;
    opacity: 0.25;
    z-index: 2;
    animation: pulse 10s ease-in-out infinite;
}

/* Animations */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes pulse {
    20%,
    40%,
    80%
    {
        transform: scale(1);
    }
    10%,
    60% {
        transform: scale(1.1);
    }
}

/* Container */
#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    z-index: 2;
}
#container svg {
    position: absolute;
    height: 0;
}
#container .reflection h1 {
    font-family: "netflix";
    font-size: clamp(5vw, 3rem, 15vw);
    color: var(--txt-red);
    z-index: 3;
}
.reflection {
    aspect-ratio: 16/9;
    display: inline-flex;
    flex-direction: column;
}
.reflexion > * {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}
.clone {
    filter: url(#wavy);
    transform: rotate(180deg) scaleX(-1) scaley(0.80) translateY(100%) translateX(-2%);
    opacity: 0.8;
    z-index: 3;
    /* transform-origin: left bottom; */
}